PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://claimflowadmin:<password>@claimflow-postgres-dev.postgres.database.azure.com:5432/claimflow?sslmode=require

JWT_SECRET=replace_with_jwt_secret